/* THIS SEEMS IMPORTANT */

@keyframes hovering {
    from {
        margin-bottom: 3px;
    }
    to {
        margin-bottom: 0;
    }
}





/* WTF IS THIS */

a {
    font-family: inherit;
}
br {
    height: 6pt;
}
.badge {
    display: none;
}
blockquote {
    font-style: italic;
}
pre:has(>code){
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.25);
}





/* OUTSIDE MESSAGING ENV */

#top_banner {
    display: none;
}
#settings {
    filter: invert(90%);
    opacity: 1;
}
#settings:hover {
    filter: invert(60%);
}
#settingsMenu {
    color: #F2EDEE;
    background-color: #120000;
    border: solid 1px #300000;
}
#settingsMenu hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #B8A5A5;
}
#settingsMenu input[type=text] {
    border: none;
    background-color: #120000;
    color: #F2EDEE;
    border: solid 1px #B8A5A5;
}
#save {
    color: #F2EDEE;
    background-color: #120000;
    border: solid 1px #B8A5A5;
}
#account {
    color: #F2EDEE;
    background-color: #EB2165;
    border: solid 1px #B8A5A5;
}
#closeSettingsBtn{
    color: #F2EDEE;
    background-color: #120000;
    border: solid 1px #B8A5A5;
}





/* CHAT WINDOW */

body {
    background: #120000;
    font-family: Verdana, sans-serif;
}
#background {
    background-color: #120000;
    scrollbar-color: #B8A5A5 transparent;
    scrollbar-width: thick;
}





/* ASSORTED TEXT STUFF */

#timestamp {
    color: #9C8686;
    text-align: center;
    font-size: 8pt;
    margin: 0;
}
#timestamp:after {
    content: "\2934";
    font-size: 12pt;
    font-weight: bold;
}
#loadMore {
    font-size: 10pt;
    font-family: Verdana;
}
#replyBanner {
    font-size: 8pt;
    font-family: Verdana, sans-serif;
    color: #F2EDEE;
    background-color: #120000;
}
#is_typing {
    background-color: #120000;
    border: solid 1px #B8A5A5;
    height: 15px;
    border-radius: 8px;
    left: calc(50% - 15px);
}
#is_typing > span {
    background-color: #B8A5A5;
}





/* MESSAGE STRUCTURE */

.msgWrapper {
    margin: 5px;
}
.allMessages {
    display: flex;
    gap: 2.5vh;
    background: linear-gradient(220deg, #150029, transparent 100%), linear-gradient(100deg, #29001C, transparent 100%), linear-gradient(340deg, #290008, transparent 100%);
    border: 1px solid #5C365A;
    font-size: 8pt;
    border-radius: 0 3px 3px 3px;
    margin: 0;
    line-height: 9pt;
    position: relative;
    color: #F2EDEE;
    width: auto;
    padding: 5px;
}
.msgWrapper:nth-child(6n) {
    margin-top: 20px;
}
.msgWrapper:nth-child(6n) > .allMessages:before {
    content: attr(time);
    position: absolute;
    bottom: calc(100% + 3px);
    width: 100%;
    text-align: center;
}
.allMessages:hover:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.msgBody {
    text-align: left;
    /*cursor: text;*/
    max-width: ;
}





/* MESSAGE SENDER INFO */

.senderInfo {
    display: block;
    margin: 2px;
    font-family: Verdana;
    font-weight: bold;
    text-align: none;
    /*min-width: 20px;*/
    max-width: 30%;
}
.senderInfo:has(.owner) {
    font-family: Verdana;
    font-weight: bold;
    color: #B85FA9;
}
.senderInfo:has(.mod) {
    font-family: Verdana;
    font-weight: bold;
    color: #B85FA9;
}
.highlight {
    background-color: transparent;
}
.allMessages.pm {
}
.allMessages.pm:before {
    content: "[whisper]";
    font-size: 8pt;
    font-weight: bolder;
    color: #926A72;
}





/* SPECIAL MESSAGES */

.pinned {
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 5px;
    max-height: 15vh;
    overflow: hidden;
    cursor: default;
}
.pinned:hover {
    max-height: none;
    height: auto;
    background-color: #170209;
}
.pinned::before {
    content: "\23F7";
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 15vh;
    max-height: 15vh;
    animation: 500ms linear infinite alternate hovering;
}
.pinned:hover::before {
    display: none;
}
.pinned > .allMessages {
    box-shadow: none;
}
.pinned > .allMessages:hover {
    box-shadow: none;
}
.pinned > .allMessages::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15vh;
    max-height: 100%;
    background: #170209;
    opacity: 1;
}
.pinned > .allMessages:hover::before {
    display: none;
}
.pinned:after {
    display: inline-block;
    position: absolute;
    right: 2px;
    top: 2px;
    content: "📌";
}
.allMessages.containsOnlyEmojis .emoji {
    height: 20px;
}





/* MESSAGE INPUT BOX */

#input, #nameEntry {
    color: #F2EDEE;
    background-color: #120000;
    border: none;
    font-family: Verdana;
    font-size: 8pt;
    padding: 5px;
    width: calc(100% - 10px);
    border-radius: 0;
    margin: 0;
    border-top: solid 1px #B8A5A5;
}
#input:focus, #nameEntry:focus {
    outline: dotted 1px #B8A5A5;
}
#input:empty::before {
    color: #9C8686;
    content: "Message Ruecharli.space";
}
#emojiTray, #emojiTrayToggle {
    display: none !important;
}
